<aside
  class="flex w-full flex-col space-y-2 bg-white"
  style="height: 90.5vh"
  x-show="asideOpen"
>
  <label class="block text-gray-700 text-sm font-bold mb-2"> Elements: </label>
  <a
    href="#"
    class="flex items-center rounded-md py-3 hover:bg-gray-100 hover:text-blue-600"
  >
    <span class="text-2xl"><i class="bx bx-home"></i></span>
    <span>Database</span>
  </a>

  <a
    href="#"
    class="flex items-center rounded-md py-3 hover:bg-gray-100 hover:text-blue-600"
  >
    <span class="text-2xl"><i class="bx bx-cart"></i></span>
    <span>Input</span>
  </a>

  <a
    href="#"
    class="flex items-center rounded-md py-3 hover:bg-gray-100 hover:text-blue-600"
  >
    <span class="text-2xl"><i class="bx bx-shopping-bag"></i></span>
    <span>Aadhar Card</span>
  </a>

  <a
    href="#"
    class="flex items-center rounded-md py-3 hover:bg-gray-100 hover:text-blue-600"
  >
    <span class="text-2xl"><i class="bx bx-heart"></i></span>
    <span>Pan Card</span>
  </a>

  <a
    href="#"
    class="flex items-center rounded-md py-3 hover:bg-gray-100 hover:text-blue-600"
  >
    <span class="text-2xl"><i class="bx bx-user"></i></span>
    <span>Photo Verification</span>
  </a>
</aside>
