<div
  class="w-full flex flex-col sm:flex-row flex-wrap sm:flex-nowrap py-4 flex-grow"
>
  <!-- fixed-width -->
  <div class="w-fixed w-48 flex-none px-4">
    <div class="sticky top-0 w-full h-full">
      <app-left
        [connectableTo]="
          graph[selectedNode.label]?.connectableTo || ['database', 'api']
        "
        (buttonClickEvent)="buttonClick($event)"
      ></app-left>
    </div>
  </div>

  <main role="main" class="w-full flex-auto pt-1 px-3">
    <h1>{{ "Selected Node is " + selectedNode.label }}</h1>
    <app-graph
      [nodes]="nodes"
      [edges]="edges"
      (currentNodeEmitter)="nodeChange($event)"
    ></app-graph>
  </main>
  <div
    class="w-fixed w-64 flex-shrink flex-grow-0"
    *ngIf="graph[selectedNode.label]?.properties?.length"
  >
    <!-- fixed-width -->
    <div class="flex sm:flex-col px-2">
      <app-right
        [properties]="selectedNodeProperties()"
        [refNodeData]="refNodeData"
        (getNodeData)="getRefData($event)"
        (refNodeChangeEvent)="getRefNodeChange($event)"
      ></app-right>
    </div>
  </div>
</div>
