/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {

  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
}

html{
  overflow-y: hidden !important; /* Hide vertical scrollbar */
  overflow-x: hidden !important; /* Hide horizontal scrollbar */
}

.ngx-charts-outer{
  width: 100% !important;
  // background-color: red;
  background-image: url("assets/grid-png.png");
  background-size: cover;

}

.ngx-charts{
  width: 100%;

}

